@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&display=swap');

.containerProducts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 70px 60px 615px;
}

.itemProducts1 {
  background-color: rgb(236, 236, 236);
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 2;
}

.itemProducts2 {
  background-color: rgba(255, 255, 255, 0.418);
  grid-column-start: 1;
  grid-column-end: 4;
  margin-top: 2%;
  grid-row-start: 2;
  grid-row-end: 3;
}

.itemProducts3 {
  background-color: rgba(255, 255, 255, 0.568);
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  overflow: auto;
}

.cardTetxtSite {
  display: flex;
  flex-wrap: wrap;
}

.itemProducts3::-webkit-scrollbar {
  width: 3px;
  background-color: #888888;
}

.itemFiltersDeFlex {
  display: flex;
}

/* components */
/* inp */
.inpProductSearch1 {
  height: 60px;
  width: 60px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px 0px 0px 5px;
  border-left: 1px solid rgba(216, 216, 216, 0.554);
  border-right: 1px solid rgba(216, 216, 216, 0);
  border-bottom: 1px solid rgba(216, 216, 216, 0.554);
  border-top: 1px solid rgba(216, 216, 216, 0.554);
}

.inpProductSearch2 {
  width: 500px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  outline: none;
  border-left: 1px solid rgba(216, 216, 216, 0.554);
  border-right: 1px solid rgba(216, 216, 216, 0);
  border-bottom: 1px solid rgba(216, 216, 216, 0.554);
  border-top: 1px solid rgba(216, 216, 216, 0.554);
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  padding-left: 10px;
}

.inpProductSearch3 {
  width: 60px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 5px 5px 0px;
  border-left: none;
  border-left: 1px solid rgba(216, 216, 216, 0);
  border-right: 1px solid rgba(216, 216, 216, 0.554);
  border-bottom: 1px solid rgba(216, 216, 216, 0.554);
  border-top: 1px solid rgba(216, 216, 216, 0.554);
}


/* Blocks */

.inputBlockProducts {
  margin-top: 40px;
  margin-left: 33.4%;
  display: flex;
}

.headersGenProducts {
  text-align: center;
}

/* img */

.imgProducts {
  width: 25px;
  margin-top: 30%;
}

.imgSettingsProducts {
  width: 30px;
  height: 30px;
}

.imgBtnFilters {
  width: 40px;
}

/* Btn */

.btnFiltersProducts {
  transition: 0.4s;
  width: 60px;
  height: 60px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}


/* text */

.headerProducts {
  margin-top: 2%;
  font-family: 'Kanit', sans-serif;
  color: rgb(0, 0, 0);
}

.textProducts1 {
  margin-top: 0.6%;
  font-family: 'Kanit', sans-serif;
  color: rgb(134, 134, 134);
}

.headerFilters1 {
  font-family: 'Kanit', sans-serif;
  color: rgb(0, 0, 0);
  margin-left: 30px;
}

.textFilters {
  font-family: 'Kanit', sans-serif;
  color: rgb(134, 134, 134);
  margin-left: 30px;
}

/* SecretBlock */

.secretItem1 {
  background-color: rgb(237, 237, 237);
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 225px;
  display: flex;
}

.containerSecretItem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 175px;
}

.headerSecretItem1 {
  background-color: rgb(237, 237, 237);
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  width: 100%;
}

.itemSecretBlock1 {
  background-color: rgb(237, 237, 237);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  width: 300px;
}

.itemSecretBlock2 {
  background-color: rgb(237, 237, 237);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
}

.itemSecretBlock3 {
  background-color: rgb(237, 237, 237);
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
}


.btnBtnFilters {
  transition: 0.4s;
  width: 60px;
  height: 60px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  margin-left: 150%;
}

.inpFilters1 {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 17px;
  font-family: 'Kanit', sans-serif;
  outline: none;
}

.inpFilters2 {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 17px;
  font-family: 'Kanit', sans-serif;
  outline: none;
}


.btnFiltersProducts:hover {
  transition: 0.4s;
  transform: rotate(-90deg);
  width: 60px;
  height: 60px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}


.btnBtnFilters:hover {
  transition: 0.4s;
  transform: rotate(-90deg);
  width: 60px;
  height: 60px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.btnBtnFilters2 {
  transition: 0.4s;
  width: 200px;
  margin-left: 30px;
  margin-top: 20px;
  height: 40px;
  border-radius: 10px;
  color: rgb(0, 166, 255);
  border: 1px solid rgb(0, 166, 255);
  background-color: rgba(0, 166, 255, 0);
  font-family: 'Kanit', sans-serif;
}

.btnBtnFilters2:hover {
  transition: 0.4s;
  width: 200px;
  margin-left: 30px;
  margin-top: 20px;
  height: 40px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 166, 255);
  background-color: rgb(0, 166, 255);
  cursor: pointer;
}


/* Dropdown */

.dropbtn {
  background-color: #0088ff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-left: 30px;
  height: 40px;
  margin-top: 10px;
  border-radius: 10px;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 30px;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
  background-color: #ddd;}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
  transition: 0.2s;
  display: block;
}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {background-color: #0088ff;}